<div class="notes-container">
    <h1>Notes</h1>
    
    <div class="note-form">
      <textarea [(ngModel)]="newNote" placeholder="Write your note here..."></textarea>
      <button (click)="onAddNoteClick()">Add Note</button>
    </div>
  
    <div class="notes-list">
        @for (note of notes; track $index) {
      <div class="note-card">
        <p>{{ note }}</p>
        <div class="note-actions">
          <button (click)="onEditNoteClick($index)">Edit</button>
          <button (click)="onDeleteNoteClick($index)">Delete</button>
        </div>
      </div>
    }
    </div>
  </div>
  