<div class="home-container">
    <h1>Welcome to Your Daily Tools</h1>
    <div class="feature-grid">
      <div class="feature-card task-manager" [routerLink]="['/task-manager']">
        <h2>Task Manager</h2>
        <p>Organize and manage your daily tasks and to-do lists.</p>
      </div>
      <div class="feature-card calendar" [routerLink]="['/calendar']">
        <h2>Calendar</h2>
        <p>Keep track of your appointments, events, and reminders.</p>
      </div>
      <div class="feature-card notes" [routerLink]="['/notes']">
        <h2>Notes</h2>
        <p>Take quick notes for ideas, shopping lists, or important information.</p>
      </div>
      <div class="feature-card weather" [routerLink]="['/weather']">
        <h2>Weather Forecast</h2>
        <p>Get real-time weather updates and forecasts.</p>
      </div>
      <div class="feature-card budget-tracker" [routerLink]="['/budget-tracker']">
        <h2><a >Budget Tracker</a></h2>
        <p>Tracks all your budget info.</p>
      </div>
      <div class="feature-card transaction" [routerLink]="['/transaction']">
        <h2>Transaction</h2>
        <p>Monitor your daily health activities and wellness goals.</p>
      </div>
    </div>
  </div>
  